body{
    background-color: #192a56;
    color: #fbc531;
}

#plateau{
    display: grid;
    grid-template-columns: [first]350px [line2] 200px;
    grid-gap: 10px;
    grid-auto-rows: minmax(350px, 351px);
}

img{
    width: 100px;
    border: 1px solid black;
}

fieldset{
    border-radius: 5px;
}

#grille{
    grid-column: 1;
    grid-row: 1;
}

#infos{
    grid-column: 2;
    grid-row: 1;
    padding: 2px;
}

#infosElements{
    padding: 2px;
    margin: 2px;
    background-color: #40739e;
    color: #e1b12c;
}

.joueur{
    border: 1px solid black;
    padding: 2px;
}

#restart{
    display: none;
}