#plateau{
    display: inline-flexbox;
}

img{
    width: 100px;
    border: 1px solid black;
}

fieldset{
    border-radius: 5px;
}

#grille{
    width: 310px;
}

#infos{
    width: 20%;
    padding: 2px;
}

#infosElements{
    padding: 0;
    margin: 2px;
    background-color: lightgray;
    color: darkgreen;
}

.joueur{
    display: block;
    border: 1px solid black;
    padding: 2px;
}